/* page 1*/

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    border:none;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-last-child {
      border-right-width: 1px;
    background: #7b5785;
    color: #fff;
    padding: 8px 37px 3px 12px;
    float: left;
    margin-left: -204px;
    margin-top: -9px;
    font-weight: 100;
    font-size: 14px;
    box-shadow: 5px 5px 14px -2px #ddd;
    width: 185px;
    border-radius: 50px;
    position: absolute;

}

/* jqury update*/
.ui-mobile .ui-page-active {
    overflow-x: visible !important;
}
.inputfile {
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/* Geeneral************************/
.ui-header {
    background-color: #7b5785;
    height: 60px;
    border: 1px solid #7b5785;
}
.ui-footer {
    background-color: #7b5785;
    height: 60px;
    border: 1px solid #7b5785;
}
.ui-panel {

}
#header .right
{
   float: left;
}
 #header .left
{
    padding: 10px;
}
#header .right .icon-bar
{
    width: 30px;
    height: 30px;
    padding: 11px;
    margin-top: 4px;
}

#header .left .icon-map
{
    width: 25px;
    height: 25px;
    margin-right: 30px;
    padding: 3px;
     margin-top: 4px;
}
#header .left .message
{
    width: 25px;
    height: 25px;
    margin-right: 30px;
    padding: 3px;
    margin-top: 4px;
}
#header .left .not
{
    width: 25px;
    height: 25px;
    margin-right: 30px;
    padding:3px;
     margin-top: 4px;
}
#myPanel{
    background-image:url(../images/sub-menue.png);
    background-size: cover;
     position: fixed;
     width: 65%;
     height: 100%;
     overflow: scroll;
 }
#myPanel input
{
    border-radius: 50%;
    color: #fff;
    padding: 12px;
    text-shadow: none;
}
#myPanel .ui-input-text, .ui-input-search
{
    margin: .5em 0;
    border-width: -10px;
    border-style: solid;
    border-radius: 20px;
    background: #443049;
    border-color:#443049 ;


}
#myPanel img
{
    width:130px;
    height: 130px;
    margin-top: 10px
}
#myPanel .info {margin-bottom: 13px;}
#myPanel .info h2{
    color: #ae84b6;
    font-size: 24px;
    font-family: sans-serif;
    margin-top: 1px;
    margin-bottom: 8px;
    text-shadow: 1px 1px 1px black;
}
#myPanel .info span{
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    text-shadow: none;
    font-family: Source Sans Pro;
}
#myPanel .link1{
    height: 50px;
    margin-top: 10px;
    width: 118%;
    margin-left: -28px;
    text-shadow: none;
}
#myPanel .link1 img{width: 37px;
    height: 37px;
margin-left: 37px;
    margin-top: 7px;}
#myPanel .link1 a{margin-top: -10px}
#myPanel .link1 h2{
    font-size: 20px;
    font-family: Source Sans Pro ;
    margin-left: 100px;
    margin-top: -35px;
    text-align: left;
    color: #fff;
    font-weight: 100;
    text-shadow: none;
}
 #myPanel .link1:hover
{
    background: #443049;
    cursor: pointer;

}

/* end general */
/***********************/
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a
{
    /*background-color: #f5f3f6 !important;*/
    border-radius: 5px !important;
}
input
{
    border: 0px !important;
    border-style: none;
}
.ui-shadow-inset
{
    -webkit-box-shadow:inset 0 0px 0px rgba(0,0,0,.0) !important;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.0) !important;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a
{
    border-style: none;
}

/***********************/
#home-reg .comments
{
    background-color: #eae9e9;
    border-radius: 5px;
    margin-top: 9px;
    padding: 4px;
}
#home-reg .ui-content{background: #f5f3f6; overflow: hidden !important;}
#home-reg .fullcontent{background: white !important;padding: 8px}
#home-reg .yourcomment ::-webkit-input-placeholder {
   color: #ddd;
   font-size: 14px;
   font-weight: lighter;
   font-family: Source Sans Pro;
   text-shadow: none !important;
}
#home-reg .yourcomment .ui-input-text input, .ui-input-search input {
    margin: 0;
    min-height: 2.2em;
    text-align: left;
    border: 0;
    background: transparent none;
    -webkit-appearance: none;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    background-color: #f5f3f6 !important;

}

/**/
#home-reg #header{background: #7b5785;height: 60px}
#home-reg .newpost {
    margin-bottom: -16px;
    width: 100%;
    background-color: white;
    height: 126px;
    box-shadow: 1px 8px 20px 3px rgb(192, 190, 190);
    border-radius: 5px;
}
#home-reg .newpost input
{
    font-family: sans-serif;
    font-weight: 400;
    opacity: 0.5;
    font-size: 15px;
    padding: 32px;
    padding-top: 12px;
    padding-left: 14px;
    color: #000;

}
#home-reg .newpost a{
    text-shadow: none !important;
    background: #7b5785;
    float: right;
    font-size: 16px;
    margin-top: 0;
    font-family: sans-serif;
    font-weight: normal;
    border-radius: 50px;
    margin-right: 12px;
    margin-left: 10px;
    text-shadow: none !important;
}
#home-reg .ui-block-b .ui-select{

    margin-top: 105px;
    z-index: 1;
    margin-left: 75px;
}
/*select category post*/
#select-native-11-button {
   background-color: #7b5785 !important;
   color: white !important;
   border-radius: 50px !important;
   font-size: 16px !important;
   top: -94px;
   float: left !important;
   margin-left: 12px !important;
   text-align: left !important;
   font-weight: normal !important;
   text-shadow: none !important;
   position: absolute !important;
   width: !important;
}
#select-native-12-button {
   background-color: #7b5785 !important;
   color: white !important;
   border-radius: 50px !important;
   font-size: 16px !important;
   box-shadow: 5px 5px 14px -2px #ddd !important;
   top: -94px;
   float: left !important;
   margin-left: 12px !important;
   text-align: left !important;
   font-weight: normal !important;
   text-shadow: none !important;
   position: absolute !important;
   width: !important;
}
#select-native-13-button {
   background-color: #7b5785 !important;
   color: white !important;
   border-radius: 50px !important;
   font-size: 16px !important;
   box-shadow: 5px 5px 14px -2px #ddd !important;
   top: -94px;
   float: left !important;
   margin-left: 12px !important;
   text-align: left !important;
   font-weight: normal !important;
   text-shadow: none !important;
   position: absolute !important;
   width: !important;
}

/*for responsive select category post*/

@media all and (min-height: 568px){
    #select-native-11-button {
        width: 36%;
    }
}
@media all and (min-height: 640px){
    #select-native-11-button {
        width: 44%;
    }
}
@media all and (min-height: 667px){
    #select-native-11-button {
        width: 47%;
    }
}
@media all and (min-height: 732px){
    #select-native-11-button {
        width: 51%;
    }
}
@media all and (min-height: 736px){
    #select-native-11-button {
        width: 52%;
    }
}
@media all and (min-height: 786px){
    #select-native-11-button {
        width: 51%;
    }
}

/*update for select options*/
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active
{
    background-color: #7b5785 !important;
    text-shadow: 0 0 0 !important;
    font-weight: lighter !important;
}

/*.newpost #select-native-11-button
{
    background-color: #968699 !important;
   color: white !important;
   border-radius: 50px !important;
   font-size: 16px !important;
   box-shadow: 5px 5px 14px -2px #ddd !important;
   top: -27px;
   margin-left: 12px;
   text-align: left !important;
   font-weight: normal !important;
   text-shadow: none !important;
}
.postedit #select-native-11-button
{
    background-color: #7b5785  !important;
   color: white !important;
   font-size: 16px !important;
   box-shadow: 5px 5px 14px -2px #ddd !important;
   top: -27px;
   margin-left: 12px;
   text-align: left !important;
   font-weight: normal !important;
   text-shadow: none !important;
}*/

#home-reg .title{
    font-size: 18px;
    margin-top: -1px;
    font-family: sans-serif;
    font-weight: 400;
    opacity:0.9;
}
#home-reg .hr{
     width: 100%;
    background: #ebeaea;
    opacity: 0.3;
}
#home-reg #popupMenu
{
    background-color: #f7f7f7;
    box-shadow: 5px 5px 5px transparent;
    background: none;
}
#home-reg .ui-popup.ui-body-inherit {
    border-width: 1px;
    border-style: none;
}
#home-reg #popupMenu h3{font-size: 17px; opacity: 0.5; font-family:  Source Sans Pro; font-weight: 200px;}
/*#home-reg .check
{
    width: 92px;
    height: 60px;
    padding: 0;
    margin-left: 10px;
}*/
#home-reg .ui-block-a img{
    width: 50px;
    height:50px;
    padding: 7px;
    margin-top: -7px;
}
#home-reg .ui-block-a h2
{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-top: -57px;
    margin-right: -130px;
    text-align: center;
    opacity: 0.9;
}
#home-reg .ui-block-a h4
{
    font-size: 13px;
    opacity: 0.5;
    margin-left: 65px;
    margin-top: -6px;
    font-family: sans-serif;
}
#home-reg .ui-block-b a
{
  float: right;
  margin-top: 20px;
}
#home-reg .ui-block-b img
{
  width: 15px;
  height: 15px;
  margin-top: -12px;
    opacity: 0.9;
}
#home-reg .ui-block-b a
{
   font-family: Source Sans Pro;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  font-size:12px;
  text-align: right;

}
#home-reg .post img{width: 100%;}
#home-reg .post p{
    line-height: 2;
    font-family: sans-serif;
    font-weight: 400;
    opacity:0.9;
}
#home-reg .post a{
    text-decoration: none;
    font-family: Source Sans Pro;
    font-weight: 400;
}
#home-reg .post h2{font-size: 14px;color: #000;opacity: 0.6;  font-family: sans-serif;
    font-weight: 400;}
#home-reg .post h2:hover{color: #00f;}
#home-reg .react .icon-heart{
    color: #000;
    text-align: center;
    opacity: 0.6;
    margin-left: 3%;
    padding-right: 30px;
}

#home-reg .react img{width:20px;margin-top: 10px}
#home-reg .react a{
    text-decoration: none;
    color: #000;

}
#home-reg .yourcomment
{
    padding-left: 10px;
    padding-right: 10px;
}
#home-reg .imgcomment{
    background:url(../images/user12.png)no-repeat left !important;
    margin-top: 6px;
    height: 60px;
    width: 100%;
    padding-left: 70px;
    padding-top: 4px;
    font-weight: 400;
    font-family:Source Sans Pro ;
    }
#home-reg .imgcomment input  [type="text"] {

    position: relative;

}
#home-reg .imgcomment input:before {
    font-family: 'FontAwesome';
    position: absolute;
    top: 0px;
    left: -5px;
    content: "\f007";
}
/************pages 2*************************/
#message-reg .ui-content{background: #fff}
#message-reg .ui-content {
    border-width: 0;
    overflow: visible;
    background-color: rgb(253, 253, 253);
}
#message-reg .imag_msg
{
    float:left;
    width: 20%;
    margin-top: -5px;
}
#message-reg .msg_content
{
    width: 77%;
    float: right;
}
#message-reg .msg_content .msg_name
{
    font-family: sans-serif;
    color: #4e2f5a;
    opacity: 0.8;
    font-size: 16px;
    text-shadow: none !important;
}
#message-reg .msg_content .msg_time
{
    float: right;
    margin-top: -27px;
    font-size: 13px;
    opacity: 0.6;
    text-shadow: none !important;
}
#message-reg .msg_content .msg
{
    font-family: sans-serif;
    opacity: 0.8;
    font-size: 13px;
    margin-top: -7px;
    text-shadow: none !important;
    color: rgba(0, 0, 0, 0.86);
}
/************pages 3*************************/
#notification-reg .ui-content{background: #fff}
#notification-reg .ui-content {
    border-width: 0;
    overflow: visible;
    background-color: rgb(253, 253, 253);
}
#notification-reg .imagnotifications
{
    float:left;
    width: 20%;
    margin-top: -2px;
}
#notification-reg .noti_content
{
    width: 77%;
    float: right;
}
#notification-reg .noti_content .noti
{
    font-family: sans-serif;
    color: black;
    opacity: 0.8;
    margin-top: 5px;
    font-size: 13px;
    text-shadow: none !important;
}
#notification-reg .noti_content .noti_time
{
    font-family: sans-serif;
    opacity: 0.6;
    font-size: 13px;
    margin-top: -7px;
    text-shadow: none !important;
}
/************* page 4  profile Doctor **************/
#profile-Docter {
    background-image: url("../images/bgprofile.png");
    background-size: 100% 100%;
    padding-top: 0px!important;
    position :fixed !important;
    margin-top: 40px;
}
#profile-Docter .ui-content
{
    margin-top: 32%;
}
#profile-Docter p
{
    color: #71507d;
    font-family: sans-serif;
    font-size: 18px;
}
#profile-Docter .prof-info h1
{
    font-size: 21px;
    font-family: "Source Sans Pro";
    color: #a87fb0;
    font-weight: normal;
    margin-top: -8px;
    text-shadow: none !important;
}
#profile-Docter .prof-info h4
{
    font-size: 18px;
    font-family: Source Sans Pro ;
    margin-top: -18px;
    font-weight: lighter;
    color: #b9b9b7;
    text-shadow: none !important;
}
#profile-Docter .ui-btn {
    border: none !important;
    background-color: #71507d !important;
    border-radius: 25px;
    width: 61%;
    padding: 12px;
    box-shadow: 0px 3px 20px #241a26;
    color: white;
    text-shadow: none !important;
    font-weight: lighter;
    font-size: 18px;
}
/*
#profile-Docter #header{background: #7b5785;height: 60px;border-color: #7b5785}

.backphoto{
width: 100%;
height: 260px;
margin-top:-50px;
}
#profile-Docter .ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 0 0 0 0;
    background-color: #fff
}
#profile-Docter .profile-pic
{
    width: 160px;
    margin-top: -100px;
}
#profile-Docter .prof-info h1
{
    font-size: 26px;
   font-family: Source Sans Pro ;
    color: #b393b9;
    font-weight: 300;
    margin-top: 8px;
}
#profile-Docter .prof-info h4
{
    opacity: 0.5;
    font-size: 22px;
   font-family: Source Sans Pro ;
   margin-top: -7px;
   font-weight: 200;
}

#profile-Docter .bgfooter a{
        background-color: #71507d;
    color: #fff;
    font-weight: 400;
    width: 178px;
    border-radius: 20px;
    font-size: 20px;
    font-family: Source Sans Pro;/*
    /* margin-left: -77px; */
  /*  box-shadow: 1px 8px 16px -1px #bfb2c7;
    margin-top: -8px;

}
#profile-Docter .bgfooter
{
background: url(../images/ffooter.png) no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;


}
#profile-Docter .bgfooter p
{
    margin-top: -10px;
    width: 80%;
    padding: 26px;
    text-align: justify;
    color: #71507d;
    font-size: 18px;
    font-family: Source Sans Pro;
}

.clear{width: 50px;height: 50px;clear: both;}
*/
/************* page 6  map screen **************/
/* jqury update*/
#map-reg .ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page {height: 100% !important;}
#map-reg .ui-content{background: #fff;height:100%}
#map-reg .ui-input-text input, .ui-input-search input, textarea.ui-input-text {padding: 10px !important;}
/**/
#map-reg #header{background: #7b5785;height: 60px}
#map-reg #footer{background: #7b5785;}

#map-reg .content
{
    width: 100%;
    height: 100%;

}
#map-reg .ui-select{
    padding-left: -6%;
    width: 90%;
    margin-top: 70px !important;

    z-index: 1;
    float: right;


}
.mapsearch
{
    margin-top: -16px !important;
    position: relative;
}
#map-reg .content  .ui-input-text, .ui-input-search
{
    border-radius: 50px !important;
    color: #fff;
    border-width: -10px;
    border-radius: 20px;
    background: #7b5785;
    border-color:#7b5785 ;
    opacity: 0.7;
    z-index: 10;
    position: relative;
    float: left;
    width: 100%;
    margin-left: 10px !important;
    top: 17px;
    font-family: Source Sans Pro !important;
    box-shadow: 2px 7px 19px #888888 !important;
}

#select-button
{
    margin-right: 12px !important;
    border-radius: 20px;
    background: #7b5785;
    border-color:#7b5785 ;
    opacity: 0.7;
    z-index: 10;
    position: relative;
    margin-left: 10px !important;
    top: 17px;
    font-family: Source Sans Pro !important;
    box-shadow: 2px 7px 19px #888888 !important;
    overflow: hidden;
    width: 29%;
    float: right;
    color: #fff;
    font-weight: lighter;
    font-size: 16px;
    text-shadow: none !important;
    text-align: left !important
}
option
{
    background-color: #95789a !important;
    font-family: Source Sans Pro !important;
    box-shadow: 2px 7px 19px #888888 !important;
    color: #fff;
    font-weight: lighter !important;
    font-size: 16px !important;
    text-shadow: none !important;
    opacity: 0.7 !important;
    border-radius: 20px !important;
    outline: none;
}
select:hover
{
    background-color: #432e49 !important;
}
#map-reg ::-webkit-input-placeholder {
   color: #fff;
   font-size: 16px;
   padding-left: 3px;
   font-weight: lighter;
   font-family: Source Sans Pro;
   text-shadow: none !important;
}
#map-reg iframe
{
    position: absolute;
    top: -132px;
}
#chat-screen .clear {width: 50px; height: 50px; clear: both;}
#chat-screen .mainchat{height: 100% ;width:100%;background-color: #fff;}
#chat-screen .peoplechat{height: 70%}
#chat-screen .rplychat{height:10%;position: absolute;width: 100%;margin-bottom: 0px;padding: 0px;}
#chat-screen .rplychat input { height: 100%;margin-bottom: 4%;}
#chat-screen {padding-top: 0px !important;}
#chat-screen .ui-content {
    border-width: 0;
    /*overflow: visible;*/
    /*overflow-x: hidden;*/
    padding: 0em;
    height: 100%;
    padding-top: 0px !important;
    background-color: #fff;
}
#chat-screen  #chattitle
{
    background-color: #573d5c;
    height: 20%;
    border: #ddd;

}
#chat-screen  #chattitle i{
    font-size: 30px;
    color: #fff;
    padding: 30px;
}
#chat-screen #chattitle  img
{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 22px;
    margin-left: -12px;

}
#chat-screen  h2{
    color: #fff;
    margin-right: -33px;
    font-weight: normal;
    margin-top: -67px;
    font-size: 18px;
    font-family: sans-serif;
    text-shadow: none !important;
}
#chat-screen #chattitle h4{
     color: #b3a1b7;
    margin-right: -5px;
    font-weight: 100;
    opacity: 0.7;
    font-size: 16px;
    margin-top: -5px;
    text-shadow:none;
}
#chat-screen .ui-input-text, .ui-input-search {

    border-width: 1px;
    border-style: solid;
    padding: 4px;
    border: 1px solid #ddd;
}
#chat-screen .leftchat
{
    width: 30px;
    float: left;
    height: 30px;
    margin-top: 95px;
    padding: 16px;

}
#chat-screen .dateleft{font-size: 14px;opacity: 0.5;text-align: center;margin-right: 70px; text-shadow: none !important;}
#chat-screen .dateright{font-size: 14px;opacity: 0.5;text-align: center;margin-right: 20px; text-shadow: none !important;}
#chat-screen  .left{
     font-family: Source Sans Pro ;
    font-size: 18px;
    color: #000;
    box-shadow: 0px 0px 5px 1px #ddd;
     float: left;
    background-color: #ebebeb;
    padding: 20px;
     margin-top: 6px;
     border-radius: 5px;
}
.rightchat{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    float: right;
    margin-top: 70px;
    padding: 0;
}
#chat-screen  .left p{font-size: 16px;font-weight: lighter;font-family: Source Sans Pro ; text-shadow: none !important; }
#chat-screen  .Right
{
     font-family: Source Sans Pro ;
     font-size: 15px;
    color: #000;
    box-shadow: 0px 0px 5px 1px #ddd;
    float: right;
    background-color: #573d5c;
    padding: 2px 26px 0 20px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    margin-right: 8px;
    border-radius: 5px
}
 #chat-screen  .Right p{
     font-size: 15px;
     font-weight: lighter;
     font-family: Source Sans Pro ;
     text-shadow: none !important;
 }
 #chat-screen .seen {
    opacity: 0.5;
    font-size: 15px;
    float: right;
    margin-top: 74px;
    margin-right: -100px;
    font-family: Source Sans Pro ;
     text-shadow: none !important;
 }

#chat-screen .reply input{height: 40px;}
#chat-screen .iconreply{
    float: right;
    font-size: 30px;
    margin-top: -55px;
    margin-right: 24px;
}
@media (height: 568px)
{
    .mapsearch
    {
        margin-top: -44px !important;
    }
    #select-button {
        top: -6px !important;
        width: 27%;
    }
    #map-reg .content  .ui-input-text, .ui-input-search{
        top: 44px !important;
        width: 45%;
    }
}
.editpost{float: right;
    margin-right: 39px;
    margin-top: -37px;}
.clear{clear: both;}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited {
    background-color: #7b5785 !important;
    border-color: #ddd !important;
    color: #fff !important;
    text-shadow: 0 1px 0 #f3f3f3 !important;
}