/* page 1*/
/* jqury update*/
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: #ccc;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}
 
#home-reg .ui-content{background: #fff;}

/**/
#home-reg #header{background: #7b5785;height: 60px}
#home-reg #footer{background: #7b5785;}

#home-reg #header .bar-icon
{
    color: #fff !important;
    padding: 10px !important;
    margin-left: 3px !important;
    display: block !important;
    width: 30px !important;
    height: 30px !important;
    margin-top: 10px !important;
  }
#home-reg #header .map
 {
	width: 50px !important;
    margin-top: -51px !important;
    margin-left: 88px !important;
    display: block !important;
}
#home-reg #header .message
{
    width: 85px !important;
    margin-top: -58px !important;
    margin-left: 150px !important;
    display: block !important;
}
#home-reg #header .not
{
 width: 85px !important;
    margin-top: -94px !important;
    margin-left: 230px !important;
    display: block !important;
}
#home-reg .newpost input
{
      font-family: Source Sans Pro;
    font-weight: 400;
   opacity: 0.5;
    font-size: 15px;
    padding: 32px;
    padding-top: 12px;
    padding-left: 10px; 
    box-shadow: 5px 5px 16px 3px #ddd;
    color: #000;

}
#home-reg .newpost a{
  background: #7b5785;
    color: #fff;
    float: right;
    height: 11px;
    font-size: 13px;
    margin-right: 10px;
    box-shadow: 5px 5px 14px -2px #ddd;
    margin-top: 0;
      font-family: Source Sans Pro;
    font-weight: 400;
}

#home-reg .title{font-size: 17px;
    margin-top: 8px;
      font-family: Source Sans Pro;
    font-weight: 400;
}
#home-reg .hr{
     width: 100%;
    background: #ebeaea;
    opacity: 0.4;
}
#home-reg .update{float: right;}
#home-reg .update i
{
	    margin-right: 20px;
    color: #7b5785;
}

#home-reg .ui-block-a img{
    width: 50px;
    height:50px;
    padding: 7px;
    margin-top: -7px;
}
#home-reg .ui-block-a h2
{
      font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 17px;
    margin-top: -57px;
    margin-right: -130px;
    text-align: center;
}
#home-reg .ui-block-a span
{ 
   font-size: 14px;
    opacity: 0.6;
    float: right;
    margin-right:8px;
    margin-top: -6px;
}
#home-reg .ui-block-b a
{ 
  float: right;
  margin-top: 20px; 
}
#home-reg .ui-block-b img
{ 
  width: 18px;
  height: 18px;
}
#home-reg .ui-block-b a
{ 
      font-family: Source Sans Pro;
    font-weight: 400;
  text-decoration: none;
  color: #000;
  font-size:12px;
  text-align: right;
  opacity: 0.5
}
#home-reg .post img{width: 100%}
#home-reg .post p{line-height: 2;
  font-family: Source Sans Pro;
    font-weight: 400;}
#home-reg .post a{
    text-decoration: none;
  font-family: Source Sans Pro;
    font-weight: 400;
   
}
#home-reg .post h2{font-size: 15px;color: #000;opacity: 0.6;  font-family: Source Sans Pro;
    font-weight: 400;}
#home-reg .post h2:hover{color: #00f;}
#home-reg .react .icon-heart{
    color: #000;
    text-align: center;
    opacity: 0.6;
    margin-left: 3%;
    padding-right: 30px;
}

#home-reg .react img{width:20px;margin-top: 10px}
#home-reg .react a{padding: 20px;
    text-decoration: none;
    color: #000;

}
#home-reg .yourcomment{}
#home-reg .yourcomment .ui-input-text, .ui-input-search
{
    margin: .5em 0;
    border-width: -10px;
    border-style: none;
   
    background: #f7f7f7;
    border-color:#fff ;
     height: 80px;
  
}

#home-reg .comment input{height: 50px;}
#home-reg .imgcomment{
    background:url(../images/Untitled-2.png)no-repeat left !important;
 padding-left: 67px;
    margin-top: 6px;
    height: 88px;
    width: 100%;
    padding-top: 4px;
    font-weight: 400;
    font-family:Source Sans Pro ;
    }
#home-reg #myPanel{background-image:url(../images/sub-menue.png);}
#home-reg #myPanel input
{
    border-radius: 50%;
    color: #fff;
    padding: 12px;
}
#home-reg #myPanel .ui-input-text, .ui-input-search
{
    margin: .5em 0;
    border-width: -10px;
    border-style: solid;
    border-radius: 20px;
    background: #443049;
    border-color:#443049 ;

  
}
#home-reg #myPanel img
{
    width:240px;
    height: 240px;
}
#home-reg #myPanel .info h2{color: #ce97d9;
    font-size: 19px;
    font-family: monospace;
    margin-top: -40px;


}
#home-reg #myPanel .info span{
    color: #ddd;
    font-family: normal;
    font-size: 18px;
    opacity: 0.5;
}
#home-reg #myPanel .link1{
   height: 50px;
    margin-top: 10px;
    width: 112%;
    margin-left: -28px;
}
#home-reg #myPanel .link1 img{width: 37px;
    height: 37px;
margin-left: 37px;
    margin-top: 7px;}
#home-reg #myPanel .link1 a{margin-top: -10px}
#home-reg #myPanel .link1 h2{
    font-size: 15px;
   font-family: Source Sans Pro ;
    margin-left: 100px;
    margin-top: -35px;
    text-align: left;
    color: #fff;
    font-weight: 100;
}
#home-reg #myPanel .link1:hover
{
    background: #443049;
    cursor: pointer;
    
}

/************pages 2*************************/

/* jqury update*/
#message-reg .ui-content{background: #fff}
#message-reg .ui-content {
    border-width: 0;
    overflow: visible;
     padding: 1em 0em 0em 0em; 
}
#message-reg .ui-grid-a, .ui-grid-b, .ui-grid-c, .ui-grid-d, .ui-grid-solo {
    overflow: hidden;
    margin-top: -8px;
}
/**/
#message-reg #header{background: #7b5785;height: 60px}
#message-reg #footer{background: #7b5785;}
#message-reg #header .bar-icon
{
    color: #fff !important;
    padding: 10px !important;
    margin-left: 3px !important;
    display: block !important;
    width: 30px !important;
    height: 30px !important;
    margin-top: 10px !important;
  }
#message-reg #header .map
 {
    width: 50px !important;
    margin-top: -51px !important;
    margin-left: 88px !important;
    display: block !important;
}
#message-reg #header .message
{
    width: 85px !important;
    margin-top: -58px !important;
    margin-left: 150px !important;
    display: block !important;
}
#message-reg #header .not
{
 width: 85px !important;
    margin-top: -94px !important;
    margin-left: 230px !important;
    display: block !important;
}
#message-reg #myPanel{background-image:url(../images/sub-menue.png);}
#message-reg #myPanel input
{
    border-radius: 50%;
    color: #fff;
    padding: 12px;
}
#message-reg #myPanel .ui-input-text, .ui-input-search
{
    margin: .5em 0;
    border-width: -10px;
    border-style: solid;
    border-radius: 20px;
    background: #443049;
    border-color:#443049 ;

  
}
#message-reg #myPanel img
{
    width:240px;
    height: 240px;
}
#message-reg #myPanel .info h2{color: #ce97d9;
    font-size: 19px;
    font-family: monospace;
    margin-top: -40px;


}
#message-reg #myPanel .info span{
    color: #ddd;
    font-family: normal;
    font-size: 18px;
    opacity: 0.5;
}
#message-reg #myPanel .link1{
   height: 50px;
    margin-top: 10px;
    width: 112%;
    margin-left: -28px;
}
#message-reg #myPanel .link1 img{width: 37px;
    height: 37px;
margin-left: 37px;
    margin-top: 7px;}
#message-reg #myPanel .link1 a{margin-top: -10px}
#message-reg #myPanel .link1 h2{
    font-size: 15px;
   font-family: Source Sans Pro ;
    margin-left: 100px;
    margin-top: -35px;
    text-align: left;
    color: #fff;
    font-weight: 100;
}
#message-reg #myPanel .link1:hover
{
    background: #443049;
    cursor: pointer;
    
}

#message-reg .title h3
{
	margin-top: 0;
    margin-left: 10px;
    font-size: 16px;
    font-family: Tahoma;
}
#message-reg .hr1{width: 100%;opacity: 0.4;margin-top: 0}
#message-reg .content{cursor: pointer;}
#message-reg .content:hover{background: #edf2fa}
#message-reg .content img
{   
	width: 70px;
    height: 70px;
    margin-left: 10px;
    padding: 5px;
}
#message-reg .content h2{    
	font-size: 13px;
    text-align: justify;
    margin-left: 4px;
    margin-top: 30px;
}
#message-reg .content p{
	font-size: 11px;
	margin-left: 55px;
	margin-top: 36px;
    opacity: 0.6;
}
#message-reg .search{
	width: 50px;
    height: 50px;
    background: #83618c;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #ccc;
    border: 1px solid #83618c;
    float: right;
    margin-right: 27px;
    margin-top: -41px;
}
#message-reg .search i{
	color: #fff;
    margin-top: 14px;
    margin-left: 16px;
}
/************pages 3*************************/

/* jqury update*/
#notification-reg .ui-content{background: #fff}
#notification-reg .ui-content {
    border-width: 0;
    overflow: visible;
     padding: 1em 0em 0em 0em; 
}
#notification-reg .ui-grid-a, .ui-grid-b, .ui-grid-c, .ui-grid-d, .ui-grid-solo {
    overflow: hidden;
    margin-top: -8px;
}
/**/
#notification-reg  #header{background: #7b5785;height: 60px}
#notification-reg  #footer{background: #7b5785;}
#notification-reg  #header .bar-icon
{
    color: #fff !important;
    padding: 10px !important;
    margin-left: 3px !important;
    display: block !important;
    width: 30px !important;
    height: 30px !important;
    margin-top: 10px !important;
  }
#notification-reg  #header .map
 {
    width: 50px !important;
    margin-top: -51px !important;
    margin-left: 88px !important;
    display: block !important;
}
#notification-reg  #header .message
{
    width: 85px !important;
    margin-top: -58px !important;
    margin-left: 150px !important;
    display: block !important;
}
#notification-reg  #header .not
{
 width: 85px !important;
    margin-top: -94px !important;
    margin-left: 230px !important;
    display: block !important;
}
#notification-reg #myPanel{background-image:url(../images/sub-menue.png);}
#notification-reg  #myPanel input
{
    border-radius: 50%;
    color: #fff;
    padding: 12px;
}
#notification-reg  #myPanel .ui-input-text, .ui-input-search
{
    margin: .5em 0;
    border-width: -10px;
    border-style: solid;
    border-radius: 20px;
    background: #443049;
    border-color:#443049 ;

  
}
#notification-reg  #myPanel img
{
    width:240px;
    height: 240px;
}
#notification-reg  #myPanel .info h2{color: #ce97d9;
    font-size: 19px;
    font-family: monospace;
    margin-top: -40px;


}
#notification-reg  #myPanel .info span{
    color: #ddd;
    font-family: normal;
    font-size: 18px;
    opacity: 0.5;
}
#notification-reg  #myPanel .link1{
   height: 50px;
    margin-top: 10px;
    width: 112%;
    margin-left: -28px;
}
#notification-reg  #myPanel .link1 img{width: 37px;
    height: 37px;
margin-left: 37px;
    margin-top: 7px;}
#notification-reg  #myPanel .link1 a{margin-top: -10px}
#notification-reg  #myPanel .link1 h2{
    font-size: 15px;
   font-family: Source Sans Pro ;
    margin-left: 100px;
    margin-top: -35px;
    text-align: left;
    color: #fff;
    font-weight: 100;
}
#notification-reg  #myPanel .link1:hover
{
    background: #443049;
    cursor: pointer;
    
}

#notification-reg .title h3
{
	margin-top: 0;
    margin-left: 10px;
    font-size: 16px;
    font-family: Tahoma;
}
#notification-reg.content{cursor: pointer;}
#notification-reg .hr1{width: 100%;opacity: 0.4;margin-top: 0}
#notification-reg .content:hover{background: #edf2fa}
#notification-reg .content img
{   
	width: 70px;
    height: 70px;
    margin-left: 10px;
    padding: 5px;
}
#notification-reg .content h4{    
	font-size: 10px;
	opacity: 0.5;
	margin-left:-52px;
}
#notification-reg .content p{    
	font-size: 12px;
    margin-left: -55px;
    line-height: 2;
}
#notification-reg .content span
{    

}
#footer h2{text-align: center;font-family: Tahoma;color: #fff;font-weight: normal;}

















