/*for responsive*/
/*
@media all and (min-height: 736px){
    .error {
        height: 306px !important;
    }
    textarea {
        height: 135px !important;
        padding-top: 57px !important;
    }
    #start_screen .ui-content {
        height: 704px !important;
    }
}
@media all and (min-height: 732px){
    .error {
        height: 306px !important;
    }
    textarea {
        height: 135px !important;
        padding-top: 57px !important;
    }
    #start_screen .ui-content {
        height: 704px !important;
    }
}
*/
/*start screen*/
#start_screen {
    background-image: url("../images/loginbg.png");
    background-size: 100% 100%;
}
#start_screen p {
    text-shadow: none !important;
    color: #bfbabc;
    font-family: Segoe UI !important;
    font-size:20px;
}
#start_screen h2 {
    margin-top: -8px;
    text-shadow: none !important;
    color: white;
    font-family: Segoe UI !important;
    font-size: 33px;
    font-weight: normal;
}
#start_screen input {
    text-align: center;
    color : white !important;
}
#start_screen .btn .ui-btn {
    border: none !important;
    background-color: #efeaee !important;
    border-radius: 25px;
    width: 85%;
    padding: 13px;
    box-shadow: 0px 8px 5px #241a26;
    color: #492b51;
    text-shadow: none !important;
}
/*register screen*/
#register_screen {
    background-image: url("../images/loginbg.png");
    background-size: 100% 100%;
    min-height: 100% !important;
}
#register_screen form input {
    text-align: center;
    color : white !important;
}
#register_screen form .btn .ui-btn {
    border: none !important;
    background-color: #efeaee !important;
    border-radius: 25px;
    width: 50%;
    padding: 13px;
    margin-top: 35px !important;
    box-shadow: 0px 8px 5px #241a26;
    color: #492b51;
    text-shadow: none !important;
}
#register_screen hr {
    width: 95%;
    border-color: #efeaee !important;
    border-style: groove;
}
#register_screen #pass {
    width: 48%;
    float: left;
}
#register_screen #pass_confirm {
    width: 48%;
    float: right;
}
#register_screen #file {
    width: 48%;
    float: left;
}
#register_screen #selector {
    width: 100%;
    float: right;
}
#register_screen #selector label {
    color: white;
}
#register_screen #selector_special{
    width: 100%;
    float: right;
}
#register_screen #selector_special label {
    color: white;
}
.file_image{
    color: white;
}
.birth_date{
    color: white;
}
textarea.ui-input-text.ui-textinput-autogrow {
    color: white !important;
    text-align: center;
}
/*select style*/
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited {
    padding: 24px;
    border: none !important;
    text-shadow: none !important;
    box-shadow: 6px 6px 5px #241a26;
    background-color: #4d3853 !important;
}
.ui-select {
    margin-top: 0px !important;
    background-color: #4d3853 !important;
    opacity: 0.6 !important;
    color: white !important;
}
#register_screen option {
    color: white !important;
}
.ui-select  .ui-btn {
    color: white !important;
    font-weight: lighter;
}
.ui-listview  li a{
    color: white !important;
    font-weight: lighter;
}
/*type file style*/
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/*login screen*/
#login_screen {
    background-image: url("../images/loginbg.png");
    background-size: 100% 100%;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: #4d3853 !important;
    border: none !important;
    opacity: 0.6;
    text-shadow: none !important;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    padding: 15px;
    margin-bottom: 13px;
    margin-top: 13px;
    box-shadow: 6px 6px 5px #241a26;
}
#login_screen form input {
    text-align: center;
    color : white !important;
}
#login_screen form .btn .ui-btn {
    border: none !important;
    background-color: #efeaee !important;
    border-radius: 25px;
    width: 50%;
    padding: 13px;
    margin-top: 35px !important;
    box-shadow: 0px 8px 5px #241a26;
    color: #492b51;
    text-shadow: none !important;
}
#login_screen hr {
    width: 95%;
    border-color: #efeaee !important;
    border-style: groove;
}
#login_screen h5 {
    text-shadow: none;
    color: #9b0016;
}
/*****/

.ui-selectmenu-list .ui-btn-active {
    background-color: #573d5c !important;
    border-color: #573d5c !important;
    }

.loader-default {
	background: 0;
    display: none;
	filter: Alpha(Opacity=18);
	opacity: .18;
	width: 2.875em;
	height: 2.875em;
	margin-left: -1.4375em;
	margin-top: -1.4375em;
	z-index: 9999999;
	position: fixed;
	top: 50%;
	left: 50%;
	border: 0;
}

.loading {
	background-color: #000 !important;
	display: block;
	margin: 0;
	width: 2.75em;
	height: 2.75em;
	padding: .0625em;
	-webkit-border-radius: 2.25em;
	border-radius: 2.25em;
}

.loading {
	background: url(images/ajax-loader.gif);
	background-size: 2.875em 2.875em;
}
